.header{
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 600;
}
.navbar{
  display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
 gap: 4rem;
 background: #999393;
 padding: 1rem;
 width: 100%;

}
.navlinks{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.link{
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(33, 70, 144);

}
.link:hover{
  color: white;
  cursor: pointer;
}
.input{
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;

  font-size: medium;
}
.searchbtn{
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
 
  background: #416a8f;
  color: white;
  font-size: medium;
}
.searchbtn:hover{
background: rgb(226, 119, 119);
color: black;

}
.newscontainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1.5rem;
}
.image {
    border-radius: 3rem;
  width: 25rem;
  height: 15rem;
}
article {
  width: 25rem;
  height: 30rem;
  padding: 1rem;
  border: 1px solid black;
  position: relative;
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 1rem 5rem 1rem 5rem;
}
.view{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border: 1px solid grey;
    padding: 0.5rem;
  transition: all 0.2s ease;
  border-radius: 5rem;
  background: #063353;
  color: white;
}
.view:hover{
    background: #174e75;
    transform: scaleX(1.1);
}
